@page "/change-password"
@model ChangePasswordPageModel
@{
    ViewData["Title"] = "Change Password";
}

<partial name="_HeaderPartial" />

<main>

    <h1>@ViewData["Title"]</h1>

    <section>

        <h2>Password</h2>

        <form method="post">

            <div>
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" autocomplete="off" />
                <div></div>
            </div>
        
            <div class="panel">
                <button type="submit">Update password</button>
            </div>

        </form>

    </section>

</main>

<partial name="_FooterPartial" />