@page
@inject IConfiguration configuration
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<partial name="_HeaderPartial" />

<main>

    <section>
        <h1>Last Activity</h1>

        <p>You logged in on 18th Dec 2024 at 1600.</p>
    </section>

</main>

<partial name="_FooterPartial" />

@section Scripts
{
    <script type="text/javascript">
        'use strict';

        // window.addEventListener('DOMContentLoaded', (ev) => {
        //     let btn = document.getElementById('requestNotificationsButton');
        //     btn.addEventListener('click', (ev) => {
        //         //let prom = Notification.requestPermission();
        //         const img = "/favicon.ico";
        //         const text = `Hi! Your task is now overdue.`;
        //         const notification = new Notification("To do list", { body: text, icon: img });
        //     });

        // });
        
    </script>
}