@page
@model LoginPageModel
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Log in";
}


<section class="login-form">

    <h1>Log in</h1>

    <form method="post">

        <div>
            <label asp-for="Username"></label>
            <input asp-for="Username" autocomplete="off" />
        </div>


        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" autocomplete="off" />
        </div>

        <div>
            <button type="submit">Log in</button>
        </div>

    </form>

</section>