@page "/scan-qr"
@model ScanQrPageModel
@{
    ViewData["Title"] = "Scan QR";
}


<partial name="_HeaderPartial" />

<main>

    <h1>Groups</h1>
    <!--
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    -->

</main>

<partial name="_FooterPartial" />