@page "/user-profile"
@model UserProfilePageModel
@{
    ViewData["Title"] = "User Profile";
}

<partial name="_HeaderPartial" />

<main>

    <h1>User Profile</h1>

    <section style="margin-bottom:3.67em;">

        <h2>User Information

            <a asp-page="/settings"><span class="material-symbols-outlined">edit</span></a>
        </h2>

        <div style="display:grid; grid-template-columns: 7.67em auto; grid-gap: .67em;">

            <span>Username</span>
            <span>zzz</span>

            <span>First Name</span>
            <span>zzz</span>

            <span>Last Name</span>
            <span>zzz</span>

            <span>Display Name</span>
            <span>zzz</span>


        </div>

    </section>

    <section>

        <h2>Assigned Roles</h2>

        <div style="display:grid; grid-template-columns: repeat(4, auto); grid-gap: .67em;">

            @for (int i = 0; i < 7; i++)
            {
                <span>Role @i</span>
            }

        </div>
        
        <div class="panel">
            <button>Assign Roles</button>
        </div>

    </section>

    <section>

        <h2>Password</h2>

        <p>Password was last changed at 22-12-2024 13:28.</p>

        <div class="panel">
            <button>Change password</button>
        </div>

    </section>

    <section>

        <h2>Password</h2>

        <p>Password was last changed at 22-12-2024 13:28.</p>

        <div class="panel">
            <button>Change password</button>
        </div>

    </section>

</main>

<partial name="_FooterPartial" />