html, body {
    height: 100vh;
}

body {
    margin: 0;
    /*
    background-image: url(/img/bg.jpg);
    background-blend-mode: overlay;
    background-color: lavender;
    background-position-x: center;
    background-position-y: bottom;
    */
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, .brand {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'header'
        'main'
        'footer';
}

    body > header {
        grid-area: header;
        background-color: lightcyan;
    }

    body > main {
        grid-area: main;
        background-color: lightgrey;
        padding: 0 1em;
    }

    body > footer {
        grid-area: footer;
    }


div.center-content {
    display: grid;
}

a.brand {
    text-decoration: none;
    font-size:1.44em;
}

header > nav, footer > nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin: .36em;
    justify-content: space-between;
}

    header > nav > section, footer > nav > section {
        display: inline;
    }

        header > nav > section.align-center-start {
            align-self: center;
            justify-self: flex-start;
        }

        header > nav > section.align-center-center {
            align-self: center;
            justify-self: flex-start;
        }

        header > nav > section.align-center-end {
            align-self: center;
            justify-self: flex-end;
        }

.badge {
    font-size: .76em;
}

footer > nav {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    margin: .36em;
    justify-content: space-around;
}

    footer > nav > a {
        text-decoration:none;
    }

    footer > nav > section {
        display: inline;
    }

        footer > nav > section.align-end {
            justify-self: flex-end;
        }


.swiper {
    width: 100%;
    height: 300px;
}


/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}*/
