:root {
    /* default text */
    --text-font: "Lato", serif;
    --text-color: #0A0708;
    /* ui elements */
    --ui-font-family: "Outfit", serif;
    --ui-font-size: .96em;
    /* href */
    --default-href-color: #873F49;
    --hover-href-color: #CCAFA5;
    /* colors */
    --default-bg-color: #F2F1F0;
    /**
        a
    */
    --color1: #D9A3D0; /* PINK */
    --color2: #260124; /* PURPLE */
    --color3: #80BFB4; /* GREEN */
    --color4: #F2B366; /* YELLOW */
}

html, body {
    height: 100vh;
}

body {
    margin: 0;
    /*
    background-image: url(/img/bg.jpg);
    background-blend-mode: overlay;
    background-color: lavender;
    background-position-x: center;
    background-position-y: bottom;
    */
    font-family: var(--text-font);
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    background-color: var(--default-bg-color);
}

h1, h2, h3, h4, h5, h6, .brand {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'header'
        'main'
        'footer';
}

    body > header {
        grid-area: header;
        background-color: lightcyan;
    }

    body > main {
        grid-area: main;
        /*background-color: var(--default-bg-color);*/
        padding: 0 1em;
        overflow-y: auto;
    }

    body > footer {
        grid-area: footer;
    }


div.center-content {
    display: grid;
}



a.brand {
    text-decoration: none;
    font-size: 1.44em;
}

header > nav, footer > nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin: .36em;
    justify-content: space-between;
}

    header > nav > section, footer > nav > section {
        display: inline;
    }

        header > nav > section.align-center-start {
            align-self: center;
            justify-self: flex-start;
        }

        header > nav > section.align-center-center {
            align-self: center;
            justify-self: flex-start;
        }

        header > nav > section.align-center-end {
            align-self: center;
            justify-self: flex-end;
        }



footer > nav {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    margin: .36em;
    justify-content: space-around;
}

    footer > nav > a {
        text-decoration: none;
    }

    footer > nav > section {
        display: inline;
    }

        footer > nav > section.align-end {
            justify-self: flex-end;
        }

.tasks-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.task.card {
    border: 2px outset orange;
    padding: .36em;
}

    .task.card > header {
        font-weight: 700;
    }


.badge {
    font-size: .76em;
}

.grid-list-2-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.grid-list-3-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.grid-list-4-col {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.grid-list-5-col {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.swiper {
    width: 100%;
    height: 300px;
}

a {
    text-decoration: none;
    font-family: var(--ui-font-family);
    font-size: var(--ui-font-size);
    color: var(--default-href-color);
}

    a:hover {
        color: var(--hover-href-color) !important;
    }

    a:active {
        color: #F2B366;
    }

button {
    font-family: var(--ui-font-family);
    font-size: var(--ui-font-size);
    color: var(--default-href-color);
    padding: 2px;
}

input, textarea {
    font-family: var(--ui-font-family);
}

    input[type=text], input[type=password] {
        border-color: #873F49;
        border-radius: .2em;
        padding: .2em;
    }

form.send-test-email .layout label {
    justify-self: end;
}

form.send-test-email .layout textarea.email-content {
    min-height: 16em;
}

section.grid-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    margin-bottom: 1em;
}

    section.grid-list div.experiment {
        border: 4px solid #CCAFA5;
        padding: .5em;
        min-height: 9.67em;
        max-height: 9.67em;
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-row-gap: .36em;
    }

        section.grid-list div.experiment header > h2 {
            margin: 0;
        }

        section.grid-list div.experiment section.content {
            overflow-y: scroll;
        }

        section.grid-list div.experiment footer {
            border-top: 2px dotted #CCAFA5;
        }


.positive {
    color: #01949A;
}

.negative {
    color: #DB1F48;
}


/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}*/
