<div class="brand">
    <h1>
        <a href="/">Task List</a>
    </h1>
    <!-- 
    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    -->
</div>

<nav class="side-menu">
    <div class="nav-item ">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> Home
        </NavLink>
    </div>
    <div class="nav-item ">
        <NavLink class="nav-link" href="counter">
            <span aria-hidden="true"></span> Counter
        </NavLink>
    </div>
    <div class="nav-item ">
        <NavLink class="nav-link" href="weather">
            <span aria-hidden="true"></span> Weather
        </NavLink>
    </div>
    <div class="nav-item ">
        <NavLink class="nav-link" href="debug-environment">
            <span aria-hidden="true"></span> Environment
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="task-list">
            <span aria-hidden="true"></span> Task List
        </NavLink>
    </div>

    <div class="nav-item">
        <NavLink class="nav-link" href="login">
            <span aria-hidden="true"></span> Log in
        </NavLink>
    </div>

    <div style="bottom:0; width:100%; text-align:center;">
        <div>
            some footer
        </div>

    </div>

</nav>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
