@inject IConfiguration configuration
<footer>

    <nav>

        @* SPAN 1 *@

        @if (configuration["FeatureFlags:GroupsPage"].IsTrue())
        {
            <a asp-page="/groups" title="Groups"><span class="material-symbols-outlined">groups</span></a>
        }
        else
        {
            @* <a href="#">Timesheets</a> *@
            <a asp-page="/ApplicationList" title="Application List"><span class="material-symbols-outlined">menu</span></a>
        }

        @* SPAN 2 *@

        @if (configuration["FeatureFlags:ContactsPage"].IsTrue())
        {
            <a asp-page="/contacts" title="Contacts"><span class="material-symbols-outlined">contacts</span></a>
        }
        else
        {
            <a asp-page="/ApplicationList" title="Application List"><span class="material-symbols-outlined">checkroom</span></a>
        }

        @* SPAN 3 *@

        @if (configuration["FeatureFlags:ConversationsPage"].IsTrue())
        {
            <a asp-page="/conversations" title="Conversations" class="chat">
                <span class="material-symbols-outlined">chat</span>
                <span class="badge">99+</span>
            </a>
        }
        else
        {
            <a asp-page="/Inventory/Index" title="Inventory"><span class="material-symbols-outlined">inventory</span></a>
            @*

            <a asp-page="/ScanQr" title="Scan QR"><span class="material-symbols-outlined">qr_code_scanner</span></a>
            <a asp-page="/QrCode" title="QR Code"><span class="material-symbols-outlined">qr_code</span></a>
            *@
        }

        @* SPAN 4 *@

        <a asp-page="/userprofile" title="Profile"><span class="material-symbols-outlined">person_edit</span></a>
    </nav>
</footer>
