<header>
    <nav>
        <section class="align-center-start">
            <a asp-page="/" class="brand active">
                Mobile App
                <!--
                    <span class="material-symbols-outlined">home</span>
                -->
            </a>
        </section>
        <section class="align-center-center">
            @* <a asp-page="/logout"><span class="material-symbols-outlined">logout</span></a> *@
        </section>
        <section class="align-center-end">
            @* 
            <a href="#contact"><span class="material-symbols-outlined">notifications</span></a>
            <a href="#contact"><span class="material-symbols-outlined">notification_important</span></a> 
            <a href="#contact"><span class="material-symbols-outlined">search</span></a>
            *@
            <a asp-page="/settings"><span class="material-symbols-outlined">settings</span></a>

        </section>
    </nav>
</header>