<section class="grid-list">

    <div class="experiment">
        <header>
            <h2>Manage User Roles</h2>
        </header>
        <section class="content">
            <p class="description">
                Use this module to add/remove user roles.
            </p>
        </section>
        <footer>
            <a asp-page="/experiments/ManageUserRoles">Go manage user roles</a>
        </footer>
    </div>

    <div class="experiment">
        <header>
            <h2>Assign User Roles</h2>
        </header>
        <section class="content">
            <p class="description">
                Use this module to assign user roles to users.
            </p>
        </section>
        <footer>
            <a asp-page="/experiments/AssignUserRoles">Go assign user roles</a>
        </footer>
    </div>

    <div class="experiment">
        <header>
            <h2>Revoke User Roles</h2>
        </header>
        <section class="content">
            <p class="description">
                Use this module to revoke user roles assigned to users.
            </p>
        </section>
        <footer>
            @* <a asp-page="/experiments/RevokeUserRoles">Go revoke user roles</a> *@
        </footer>
    </div>

</section>