<section class="grid-list">

    <div class="experiment">
        <header>
            <h2>User Dashboard</h2>
        </header>
        <section class="content">
            <p class="description">
                Use this module to get an overview of users.
            </p>
        </section>
        <footer>
            
            <a asp-page="/experiments/UserDashboard">Go see user dashboard</a>
        </footer>
    </div>

    <div class="experiment">
        <header>
            <h2>Manage Users</h2>
        </header>
        <section class="content">
            <p class="description">
                Use this module to add/remove/disable user accounts.
            </p>
        </section>
        <footer>
            
            @* <a asp-page="/experiments/ManageUsers">Go manage users </a> *@
        </footer>
    </div>

    <div class="experiment">
        <header>
            <h2>Add Test Users</h2>
        </header>
        <section class="content">
            <p class="description">
                Use this module to add test user accounts.
            </p>
        </section>
        <footer>
            @* <button type="button"><span class="material-symbols-outlined">exposure_plus_1</span></button> *@
            @* <a asp-page="/experiments/AddTestUsers">Go add test users</a> *@
        </footer>
    </div>


    <div class="experiment">
        <header>
            <h2>Edit User Preferences</h2>
        </header>
        <section class="content">
            <p class="description">
                Use this module to edit user preferences.
            </p>
        </section>
        <footer>
            <a asp-page="/experiments/EditUserPreferences">Go edit user preferences</a>
            @* <button type="button"><span class="material-symbols-outlined">exposure_plus_1</span></button> *@
            @* <a asp-page="/experiments/AddTestUsers">Go add test users</a> *@
        </footer>
    </div>
</section>