main > header {
    margin: .5em 0;
}

main > section > section {
    margin: 0 0 2em;
}

main > form {
    margin-bottom: calc(100vh/3.67);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 760px;
    border: 1px solid;
}

    main > form .layout {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        gap: .36em;
    }

        main > form .layout label {
            justify-self: end;
        }


a.login {
    margin: 1em 0;
}

div.description {
    margin-bottom: 1em;
}

div.stage-diagram {
    display: flex;
    width: max-content;
    justify-content: space-between;
}

div.node {
    display: flex;
    border-color: rgb(227, 227, 227);
    background-color: rgb(233, 233, 237);
    justify-content: space-evenly;
    align-items: center;
    width: 1.67em;
    height: 1.67em;
    border-radius: 50%;
    color: var(--default-href-color);
    cursor: pointer;
}

    div.node.header {
        background-color: inherit;
        justify-content: flex-start;
        width: auto;
        color: var(--default-href-color);
        margin-right: .67em;
        cursor:default;
    }

    div.node.active {
        background-color: darkorange;
        cursor: default;
    }

    div.node.disabled {
        cursor: default;
    }

    div.node.space {
        width: 2.67em;
        text-align: center;
        color: var(--default-href-color);
        background-color: inherit;
    }

hr.edge {
    transform: rotate(90deg);
}
