@page "/experiments"
@model ExperimentsIndexModel
@{
    ViewData["Title"] = "Experiments";
}

<partial name="_HeaderPartial" />

<main>

    <header>
        <h1>@ViewData["Title"]</h1>
    </header>


    <h2>Administrative Functions</h2>

    <partial name="_UsersPartial" />

    <partial name="_UserRolesPartial" />
    

    <h2>Utility Functions</h2>

    <partial name="_UtilitiesPartial" />

</main>

<partial name="_FooterPartial" />
