@page "/dashboard/user"
@model UserDashboardPageModel
@{
    ViewData["Title"] = "User Dashboard";
}

<partial name="_HeaderPartial" />

<main>

    <header>
        <a asp-page="/experiments/index">Back to Experiments</a>
    </header>

    <div class="main-content">
        <p>TODO: Put your dashboard content here.</p>
    </div>

</main>

<partial name="_FooterPartial" />
