section {
    margin-bottom: 1em;
}

div.task-list {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1em auto;
    width: 200px;
    grid-template-areas:
        "head-check head-filter"
        "chk desc";
    gap: .3em;
}

    div.task-list .header-checkbox {
        grid-area: head-check;
    }

    div.task-list .header-filter {
        grid-area: head-filter;
    }

    div.task-list .chk {
        grid-area: chk;
    }

    div.task-list .desc {
        grid-area: desc;
    }

ul.task.list {
    padding: 0;
    list-style-type: none;
}

    ul.task.list input[type=checkbox] {
        width: 22px;
        height: 22px;
    }

    ul.task.list label {
        cursor: pointer;
    }

        ul.task.list label:hover {
            color: var(--link-hover-color);
        }


input.new, input.filter, input.edit {
    font-family: var(--text-font);
    font-size: 1.3em;
    background: transparent;
    border: 0;
    border-bottom-width: 0px;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    border-bottom: 1px solid #232;
}

input.filter {
    border-bottom: 2px solid grey;
}


input[type=text]:focus-visible {
    outline-style: none;
    border-bottom: 2px solid green;
}


div.task-grid {
    display: grid;
    grid-template-rows: 2.67em 1fr;
    width: 24em;
    gap: .3em;
}

    div.task-grid .item, div.task-grid .header-item {
        display: grid;
        grid-template-columns: 1.8em 1fr 6em;
        /*border-top: 2px solid green;*/
        margin-top: .3em;
        padding-top: .3em;
    }

        div.task-grid .header-item input[type=checkbox] {
            align-self: center;
        }

        div.task-grid .item .buttons {
            align-self: center;
        }

            div.task-grid .item .buttons button:hover {
                color:green;
            }

            div.task-grid input[type=checkbox] {
                width: 24px;
                height: 24px;
            }

.buttons {
    align-self: flex-start;
}

    .buttons button {
        background: none;
        border: none;
        cursor: pointer;
    }
